.home {
  background: #d5d7cc;
  margin-top: 14px;
}

.background {
  display: flex;
  justify-content: space-evenly;
  margin-top: -15px;
}

.select-category {
  font-size: 12px;
  width: 9rem;
}

.find-your-recipe {
  color: #878984;
  padding-top: 1rem;
}

.english-spanish {
}

.loading-gif {
  margin-top: 2rem;
  width: 40%;
}

.error-message {
  color: black;
  font-size: 30px;
  margin: 0;
}

.search {
  font-size: 16px;
  height: 2rem;
  border-radius: 0%;
  width: 9.2rem;;
}

.search::placeholder {
  font-size: 16px;
}

.display-cards {
  border-top: solid gray 1.5px;
  height: 70vh;
  margin: 1rem auto 0 auto;
  overflow-y: scroll;
  width: 95%;
}

#filters, #filters-sp {
  background: white;
  display: block;
  font-size: 14px;
  margin: 0.3rem auto;
  width: 150px;
}

.beta {
  color: yellowgreen;
  font-size: 1rem
}

.or {
  margin: auto 0.7rem;
}

select:hover {
  color: black;
  font-size: .8rem;
}

@media screen and (max-width: 350px) {
  .find-your-recipe {
    display: none;
  }

  .english, .spanish {
    margin-left: 2rem;
    margin-top: 5rem;
  }

  select#category {
    font-size: 20px;
    height: 3rem;
  }

  .filters {
    width: 14.1rem;
    margin-left: 1rem;
  }
}
