.select-category {
  border: solid 1px white;
  margin: 1rem auto;
  width: 9rem;
}

.find-your-recipe {
  margin-bottom: 0;
}

.english-spanish {
  display: flex;
  justify-content: space-around;
  margin: auto 27rem;
}

.loading-gif {
  margin-top: 2rem;
  width: 40%;
}

.error-message {
  color: black;
  font-size: 30px;
  margin: 0;
}

.search {
  font-size: 16px;
  height: 2rem;
  border-radius: 0%;
  width: 9.2rem;;
}

.search::placeholder {
  font-size: 16px;
}

.display-cards {
  height: 70vh;
  margin: auto;
  overflow-y: scroll;
  width: 90%;
}

.filters {
  border: solid grey thin;
  background: lightblue;
}

span {
  color: yellowgreen;
  font-size: 1rem
}

select#category {
  background: transparent;
  background-image: none;
  border: none;
  color: white;
  font-size: 12px;
  height: 2rem;
  outline: none;
  padding: 5px 8px;
}

select:hover {
  color: black;
  font-size: .8rem;
}

@media screen and (max-width: 350px) {
  .find-your-recipe {
    display: none;
  }

  .english, .spanish {
    margin-left: 2rem;
    margin-top: 5rem;
  }

  select#category {
    font-size: 20px;
    height: 3rem;
  }

  .filters {
    width: 14.1rem;
    margin-left: 1rem;
  }
}
