.week {
  display: flex;
  height: 635px;
  justify-content: space-between;
  list-style-type: none;
  margin: 2rem auto;
  padding: 0rem;
  width: 98%;
}

.menu h2 {
  margin: 0;
}

li {
  margin: 0 1rem;
  width: 8.7rem;
  height: 30rem;
}

h3 {
  color: ghostwhite;
  font-weight: lighter;
  letter-spacing: 0.4rem;
  margin: 0;
}

@media screen and (max-width: 350px) {
  h3 {
    font-size: 30px;
    margin-top: 5rem;
  }

  h6 {
    font-size: 26px;
  }

  li {
    height: fit-content;
  }

  .week {
    display: block;
  }

  .day {
    width: 385%;
  }
}