.week {
  border: solid thin;
  display: flex;
  height: 635px;
  justify-content: space-between;
  list-style-type: none;
  margin: auto;
  padding: 0rem;
  width: 98%;
}

.menu h2 {
  margin: 0;
}

li {
  margin: 0 1rem;
  width: 8.7rem;
  height: 30rem;
}

h3 {
  margin: 0;
}