.add-to-menu {
  display: flex;
  margin: 3px auto;
}

.select-category {
  margin: auto;
  width: 9rem;
}

select {
  background: transparent;
  background-image: none;
  color: #878984;
  height: 2rem;
  outline: none;
  padding: 5px 8px;
}

select.weekday,
select.mealTime {
  height: 2rem;
}

p.added-state-text {
  color: #878984;
  margin-bottom: 0rem;
  margin-top: 2rem;
}

button {
  background: #de3400;
  border: solid;
  border-style: outset;
  color: white;
  height: 2rem;
  display: inline-flex;
  font-size: 15px;
  padding-top: 5px;
  widows: 9rem;
}

button:hover {
  color: black;
}

button:active {
  border: none;
  border-style: inset;
  outline: none !important;
}

button:focus {
  outline:0;
}

@media screen and (max-width: 350px) {
  .added-state-text {
    font-size: 26px;
  }

  div.select-category {
    display: inline-block;
    margin: 0;
  }

  .add-to-menu-button {
    height: 2rem;
    font-size: 25px;
    padding-top: 5px;
    widows: 9rem;
    border: solid thin white;
    height: 3rem;
    margin-top: 0.5rem;
  }

}