.add-to-menu {
  margin: 0.3rem;
}

.select-category {
  border: solid 1px;
  margin: auto;
  width: 9rem;
}

select {
  background: transparent;
  background-image: none;
  border: none;
  height: 2rem;
  outline: none;
  padding: 5px 8px;
}

p {
  color: white;
  margin-bottom: 0rem;
}

button {
  height: 2rem;
  display: inline-flex;
  font-size: 15px;
  padding-top: 5px;
  widows: 9rem;
}

@media screen and (max-width: 350px) {
  .added-state-text {
    font-size: 26px;
  }

  form div.select-category {
    display: inline-block;
    margin: 0;
  }

  .add-to-menu-button {
    height: 2rem;
    font-size: 25px;
    padding-top: 5px;
    widows: 9rem;
    border: solid thin white;
    height: 3rem;
    margin-top: 0.5rem;
  }

}