body {
  background: url('./assets/cutting-board.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 25px;
  display: inline-block;
  float: left;
}

.App {
  height: 100vh;
  text-align: center;
}

.App-header {
  background: #4B4B59;
  color: white;
  height: 2rem;
  padding: 0.5rem;
}

.nav {
  color: white;
  font-size: 1.1rem;
  margin: auto 5rem;
  text-decoration: none;
}

.title {
  margin: 0;
}
