body {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

h1 {
}

.App {
  text-align: center;
}

.App-header {
  background: #878984;
  display: flex;
  justify-content: space-around;
  height: 2rem;
  padding: 0rem 30rem 0.5rem 20rem;
}

.top-of-nav {
  margin: -2px;
}

.bottom-of-nav {
  margin: 6px;
}

.nav {
  align-self: baseline;
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 3rem;
  text-decoration: none;
}

.nav:hover {
  color: #9bd437;
}

.title {
  background: #878984;
  color: #9bd437;
  text-decoration: none;
  float: left;
  font-size: 1.5rem;
  margin: 0;
  padding-left: 5px;
  line-height: 39px;
}

.welcome-message {
  color: #de3400;
  font-size: 50px;
}

@media screen and (max-width: 350px) {
  body {
    background: #ADC3D0;
  }

  .App-header {
    height: 5rem;
    margin-top: -1.5rem;
    width: fit-content;
  }

  .title {
    display: none;
  }

  .nav {
    margin: 2rem 1.7rem 2rem 2rem;
    font-size: 1.5rem;
  }

  .english-spanish {
      margin: auto 17rem;
  }

  .select-category {
    height: 3rem;
    margin: 1rem;
    width: 14rem;
  }

  .search {
    font-size: 20px;
    width: 14rem;
    height: 3rem;
  }

  .search::placeholder {
    font-size: 20px;
  }

  .welcome-message {
    font-size: 40px;
    width: 36rem;
  }

  .display-cards {
    overflow-y: unset;
    width: 180%;
  }

  select {
    font-size: 20px;
    height: 3rem;
  }
}
