.day {
  width: 100%;
}

.day button {
  background: transparent;
  border: none;
  color: #1ec0d0;
  float: left;
  font-size: 12px;
  height: 0;
  margin-bottom: 2rem;
  position: relative;
  top: 140px;
  z-index: 1;
}

.day button:hover {
  color: #de3400;
}

.display {
  display: block;
}

.no-display {
  display: none;
}

h6 {
  margin: 0 auto;
  padding-top: 10px;
  font-size: 16px;
}