.recipe-cards-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.home-display {
  width: 300px;
}

@media screen and (max-width: 350px) {
  .home-display {
    width: 475px;
  }
}